<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<!-- partial:index.partial.html -->
<h1><span class="blue">&lt;</span>FSN<span class="blue">&gt;</span> <span class="yellow">Leaders</pan></h1>
<h2>Rank does not confer Privilege or give Power. <strong style="font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;">It Imposes Responsibility</strong></h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>Rank</h1></th>
			<th><h1>Name</h1></th>
			<th><h1>Score</h1></th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>1</td>
				<td>Fred</td>
				<td>absent</td>
			</tr>
	</tbody>
</table>
<table class="container">
	<thead>
		<tr>
			<th><h1>Rank</h1></th>
			<th><h1>Name</h1></th>
			<th><h1>Score</h1></th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>2</td>
				<td>Alfred</td>
				<td>absent</td>
			</tr>
	</tbody>
</table>
  <script  src="/js/table.js"></script>

</body>
</html>
